<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" href="js/bootstrap.min.js"></script>
  <script type="text/javascript" href="js/script.js"></script>

</head>

<body>
  <header>
    <nav class="navbar head">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Logo</a>
        <time>15:15 09.09.2022</time>
        <a class="navbar-brand" href="/">User1</a>
      </div>
    </nav>
  </header>

  <div class="container-fluid" style="padding-left: calc(var(--bs-gutter-x) )">
    <div class="row">
      <div class="col-md-3">
        <div class="vertical-menu">
          <a href="#" class="active">Home</a>
          <a href="#">Загрузка</a>
          <a href="#">Журнал событий</a>
          <a href="#">Пользователи</a>
          <a href="#" class="full"></a>
        </div>
      </div>
      <div class="col-md-9">
        <br>
        <div class="row">
          <div class="col-md-3">
            <h2>Датчики </h2>
          </div>
          <div class="col-md-8">

          </div>
          <div class="col-md-1">
            <img src="download.png">
          </div>
        </div>

        <hr>
        <table class="table ">
          <thead class="table">
            <tr>
              <th>Заводской номер датчика</th>
              <th>Имя</th>
              <th>Показания расхода воды</th>
              <th>Дата</th>
              <th>Общий накопленный расход </th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-primary">
              <td>1</td>
              <td>Датчик 1</td>
              <td>77777</td>
              <td>11.11.2022</td>
              <td>77777</td>
              <td>
                <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
              </td>
            </tr>
            <tr class="table-primary">
              <td>1</td>
              <td>Датчик 1</td>
              <td>77777</td>
              <td>11.11.2022</td>
              <td>77777</td>
              <td>
                <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
              </td>
            </tr>
            <tr class="table-danger">
              <td>1</td>
              <td>Датчик 1</td>
              <td>77777</td>
              <td>11.11.2022</td>
              <td>77777</td>
              <td>
                <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
              </td>
            </tr>
            
              <tr class="table-danger">
                <td>1</td>
                <td>Датчик 1</td>
                <td>77777</td>
                <td>11.11.2022</td>
                <td>77777</td>
                <td>
                  <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                  <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
                </td>
              </tr>
              <tr class="table-primary">
                <td>1</td>
                <td>Датчик 1</td>
                <td>77777</td>
                <td>11.11.2022</td>
                <td>77777</td>
                <td>
                  <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                  <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
                </td>
              </tr>
              <tr class="table-primary">
                <td>1</td>
                <td>Датчик 1</td>
                <td>77777</td>
                <td>11.11.2022</td>
                <td>77777</td>
                <td>
                  <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                  <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
                </td>
              </tr>
             <tr class="table-primary">
                <td>1</td>
                <td>Датчик 1</td>
                <td>77777</td>
                <td>11.11.2022</td>
                <td>77777</td>
                <td>
                  <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                  <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
                </td>
              </tr>
              <tr class="table-primary">
                <td>1</td>
                <td>Датчик 1</td>
                <td>77777</td>
                <td>11.11.2022</td>
                <td>77777</td>
                <td>
                  <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                  <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
                </td>
              </tr>
              <tr class="table-primary">
                <td>1</td>
                <td>Датчик 1</td>
                <td>77777</td>
                <td>11.11.2022</td>
                <td>77777</td>
                <td>
                  <button type="button" class="btn btn-secondary"><img src="pen.png"></button>
                  <button type="button" class="btn btn-secondary"><img src="setting.png"></button>
                </td>
              </tr>
         

          </tbody>
        </table>

      </div>
    </div>
  </div>
<footer class="footer">
  <nav class="navbar head">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <h6>Copyright®</h6>
        <a class="navbar-brand" href="/"></a>
      </div>
    </nav>
</footer>
</body>
</html>