.search {
	float: left;

}

.textnan{
	color: #969696;
}
.ico1{
	
}
.text1{
	width: 310px;
}
.logoh
{
	height: 70px;
	
}
.mar	{
  margin-top: 12px;
}
.padd{
	padding-left: 70px;
}
.right{
	float: right;
}
.mar2	{
  margin-top: 40px;
  margin-bottom: 15px;
}
.mar3	{
   margin-bottom: 15px;
}
.mar4	{
  padding-top: 20px;
  margin-bottom: 15px;
}
.mmm{
	vertical-align: middle;
}
.blc{
	color: black;
	text-decoration: none;
}
.ten:hover{ 


 box-shadow: 20px 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
 
  opacity: 1;
    transform: scale(1.01)
}
.h1{
	background: gray;
}
.gr{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
}
.mar4{
	margin-bottom: 0px;
}
.mar5{
	margin: 30px;
	margin-bottom: 5px;
	width: 400px;
}	
.mar6{
	margin-right: 30px;
}
.mar7{
	margin-top: 20px;
	margin-left: 30px;
	width: 400px;
}
.alll{
	text-align: right;
}
.card-title{
	margin: 10px;
}
.text11{
	margin-top: 25px;
	margin-left: 120px;
	margin-bottom: 100px;
}
.text12{
	margin-top: 30px;
	margin-left: 270px;
	margin-bottom: 100px;
}
.card1{
	width: 500px; 
	margin-top:100px; 
	height: 330px;
	box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
}
.cardreg{
	width: 700px; 
	margin-top:50px; 
	height: 450px;
	box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
	margin-left: 40px;
}
.form1{
	margin: 30px;
	margin-top: 20px;
}
.mar8{
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 4px;
}
.mar9{
	margin-top: 30px;
	width: 608px;
}
.mr3{
	margin-left: 0px;
	padding-left: 0px;
}
.mr1{
	margin-right: 140px;
}
.navbar-brand{
    height: 60px;
    color: white;
}



.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background: #041f7f;
    background: linear-gradient(to right, #041f7f 0%, #748de8 100%, #748de8 50%, #748de8 0%, #041f7f 100%);
    color: white;
}

.head{
    background: #041f7f;
    background: linear-gradient(to right, #041f7f 0%, #748de8 29%, #748de8 50%, #748de8 71%, #041f7f 100%);
}

.vertical-menu{
    width: 100%;
}
.full{
    height: 1000;
}
.mr3{
    margin-left: 0px;
}

.example-3{box-sizing:border-box}
.example-3{position:relative;font:1em/1.6 "Varela Round",Arial,sans-serif;color:#999;font-weight:400;max-width:25em;}
.example-3 h2{font-weight:400}
.example-3 .filupp > input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.example-3 .filupp{position:relative;background:#041f7f;display:block;padding:1em;font-size:1em;width:55%;height:3.5em;color:#fff;cursor:pointer;box-shadow:0 1px 3px #041f7f}
.example-3 .filupp:before{content:"";position:absolute;top:1.5em;right:.75em;width:2em;height:1.25em;border:3px solid #fff;border-top:0;text-align:center}
.example-3 .filupp:after{content:"\f178";font-family: FontAwesome;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);position:absolute;top:.65em;right:.45em;font-size:2em;color:#fff;line-height:0}
.example-3 .filupp-file-name{width:75%;display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}


* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}

.footer{
	flex: 0 0 auto;
	background: #041f7f;
    background: linear-gradient(to right, #041f7f 0%, #748de8 29%, #748de8 50%, #748de8 71%, #041f7f 100%);
}


.modaladdrec{
	border: none;
}

.colorex{
	background-color: #041f7f;
	color: white;
}

.marspan{
	margin-left: 10px;
}

.radiob{
	background-color: #409f00;
	border-color: #409f00;
}

#edit_user_enabled{
	margin-top: 12px;
}