<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open modal
  </button>
  <!-- The Modal -->

  <div class="modal" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h4>Удалить</h4>

        </div>
        <div class="modal-body">
          <div class="tab-content">
            <p>Вы действительно хотите удалить данный датчик?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary ">Отмена</button>
          <button type="submit" class="btn btn-danger ">Удалить</button>
        </div>
      </div>

    </div>
  </div>
</body>

</html>